<!DOCTYPE html>
<html lang="en">
<head>
	<title>FlaskSheet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" />
	<link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
	 <!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
</head>
<body>
	<div class="container">
		<h3>Welcome to FlaskSheet</h3>
        <form method="POST" action="/" id="form">
		    {{ form.csrf_token }}
		    {{ form.name.label }} {{ form.name(size=10) }}
		    {{ form.description.label }} {{ form.description(size=10) }}
		    {{ form.status.label }} {{ form.status(size=10) }}
		    <input type="submit" value="SUBMIT" class="submit">
		</form>
		<table class="striped centered">
	        <thead>
	          <tr>
	              <th>Name</th>
	              <th>Description</th>
	              <th>Status</th>
	          </tr>
	        </thead>
	        <tbody>
	        	{% for todo in todos %}
					<tr>
			            <td>{{ todo['name'] }}</td>
			            <td>{{ todo['description'] }}</td>
			            <td>{{ todo['status'] }}</td>
					</tr>
				{% endfor %}
	        </tbody>
        </table>
        <br />
	</div>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>